
<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4" style=" margin-top: 190px;">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1750.0196929537415!2d78.56911195726221!3d25.451691058921824!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x397777f7af2d57e1%3A0x282dc7ab82e1225f!2sDistrict%20Tuberculosis%20Centre%2C%20Jhansi!" width="300" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

s
      </div>
      <!-- Grid column -->
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Contact details -->
        <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <i class="fas fa-home mr-3"></i>Branch 1- Jay Medical Store, In Front Of Medical College Gate No:- 1 and 2, Jhansi</p>
             <p><i class="fas fa-home mr-3"></i>Branch 2- 1278, Civil Line, Near Patanjali Store, Gwalior Road, Jhansi</p>
          </li>
          <li>
            <p>
              <i class="fas fa-envelope mr-3"></i> drshalabh16@gmail.com poojasoni6511@gmail.com</p>
          </li>
          <li>
            <p>
              <i class="fas fa-phone mr-3"></i>+91-8795062186, 8519019441</p>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

        <!-- Social buttons -->
        <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>

        <!-- Facebook -->
        <a type="button" href="https://www.facebook.com/Indram-multispecialty-family-dental-care-center-314099449092227" class="btn-floating btn-fb" target="_blank">
         <p><i class="fab fa-facebook-f"> FACBOOK</i></p>
        </a><br>
        <!-- Twitter -->
        <a type="button" href="#" class="btn-floating btn-tw" target="_blank">
          <p><i class="fab fa-twitter"> TWITTER</i></p>
        </a><br>
         <!-- Instagram -->
        <a type="button" href="https://www.instagram.com/indram1116/" class="btn-floating btn-tw" target="_blank">
          <p><i class="fab fa-instagram"> Instagram</i></p>
        </a><br>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->
  <hr>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020  I N D R A M Dental Care |
    <a href="#" style="text-decoration: none; color: black">All Rights Reserved</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

<script>

  var preloader=document.getElementById('loading');

  function myFunction(){
    preloader.style.display= 'none';
  }

</script>


