<img src="/../../assets/image/gallery.jpg" class="w-100">
<div class="head_text  animate__animated animate__zoomInDown"> Treatment Gallery</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-md-2" ></div>
    <div class="col-md-8">
      <div class="b_img">
        <img src="/../../assets/image/b1.jpg" class="a1">
        <img src="/../../assets/image/b1.jpg" class="a2">
        <br><br>
        <img src="/../../assets/image/b2.jpg" class="a1">
        <img src="/../../assets/image/b2.jpg" class="a2">
        <br><br>
        <img src="/../../assets/image/b3.jpg" class="a1">
        <img src="/../../assets/image/b3.jpg" class="a2">
        <br><br>
        <img src="/../../assets/image/b4.jpg" class="a1">
        <img src="/../../assets/image/b4.jpg" class="a2">
        <br><br>
        <img src="/../../assets/image/b5.jpg" class="a1">
        <img src="/../../assets/image/b5.jpg" class="a2">
        <br><br>
        <img src="/../../assets/image/b6.jpg" class="a1">
        <img src="/../../assets/image/b6.jpg" class="a2">
        <br><br>
        <img src="/../../assets/image/b7.jpg" class="a1">
        <img src="/../../assets/image/b7.jpg" class="a2">
        <br><br>
        <img src="/../../assets/image/before 1.jpg" class="a1" style="width: 620px;">
        <img src="/../../assets/image/before 1.jpg" class="a2">
        <br><br><br>
        <img src="/../../assets/image/after1.jpg" class="a1" style="width: 620px;">
        <img src="/../../assets/image/after1.jpg" class="a2">
      </div>
    </div>
    <div class="col-md-2"></div>

  </div><!------row----->
</div><!--container-->
<hr>
