<img src="/../../assets/image/services.png" class="about">
<br><br>
      <h1 class="text-center animate__animated animate__zoomInDown ml-1 hl-2">List of Treatments Offered</h1>
       <h1 class="text-center animate__animated animate__zoomInDown ml-2 hl-1">List of Treatments Offered</h1><!--mob-->
<hr>
 <div class="container-fluid"><!--start container-fluid-->

    <div class="row"><!--row-->
      <!--16 boxes-->
      <div class="col-md-4">
        <a href="">
          <img class="d-block w-100" src="/../../assets/image/teeth_scaling.jpg">
          <p>Teeth Scaling</p>
        </a>
      </div>
      <div class="col-md-4">
         <a href="">
          <img class="d-block w-100" src="/../../assets/image/bad_breath.jpg">
          <p>Treatment of Bad Breath</p>
        </a>
      </div>
      <div class="col-md-4">
         <a href="">
          <img class="d-block w-100" src="/../../assets/image/pyorrhea.jpg">
          <p>Periodontal Disease</p>
        </a>
      </div>
      <div class="col-md-4">
         <a href="">
          <img class="d-block w-100" src="/../../assets/image/mouth_ulcer.png">
          <p>Ulcer Treatment</p>
        </a>
      </div>
      <div class="col-md-4">
         <a href="">
          <img class="d-block w-100" src="/../../assets/image/sensitivity.jpeg">
          <p>Sensitivity Treatment</p>
        </a>
      </div>
      <div class="col-md-4">
         <a href="">
          <img class="d-block w-100" src="/../../assets/image/gum.jpg">
          <p>All Types Of Gum Problem Treatment</p>
        </a>
      </div>
      <div class="col-md-4">
         <a href="">
          <img class="d-block w-100" src="/../../assets/image/xray.jpg">
          <p>X-ray</p>
        </a>
      </div>
      <div class="col-md-4">
         <a href="">
          <img class="d-block w-100" src="/../../assets/image/ortho.jpg">
          <p>Orthodontic Treatment</p>
        </a>
      </div>
      <div class="col-md-4">
         <a href="">
          <img class="d-block w-100" src="/../../assets/image/root.jpg">
          <p>Root Canal</p>
        </a>
      </div>
      <div class="col-md-4">
         <a href="">
          <img class="d-block w-100" src="/../../assets/image/teethbleeching.jpg">
          <P>Teeth Bleeching</P>
        </a>
      </div>
      <div class="col-md-4">
         <a href="">
          <img class="d-block w-100" src="/../../assets/image/implant.jpg">
          <p>Dental Implant</p>
        </a>
      </div>
      <div class="col-md-4">
         <a href="">
          <img class="d-block w-100" src="/../../assets/image/extraction.jpg">
          <p>Impaction & Extraction</p>
        </a>
      </div>
      <div class="col-md-4">
         <a href="">
          <img class="d-block w-100" src="/../../assets/image/complete_denture.jpg">
          <p>Complete Denture</p>
        </a>
      </div>
      <div class="col-md-4">
         <a href="">
          <img class="d-block w-100" src="/../../assets/image/tooth-jewel.jpg">
          <p>Tooth Jewellery</p>
        </a>
      </div>
      <div class="col-md-4">
         <a href="">
          <img class="d-block w-100" src="/../../assets/image/cancer.jpg">
          <p>Surgical Treatment Of Mouth Cancer</p>
        </a>
      </div>
    </div><!--row end-->
</div><!--end of container-fluid-->
  <hr>
