<img src="/../../assets/image/contactus.jpg" class="contbanner wet1">
<img src="/../../assets/image/contactus2.jpg" class="contbanner2 wet2">
<br><br>
<!------------------------------------------------------------------------container-fluid--->
<div class="container-fluid">
  <div class="container"><!---container--->
    <div class="row"><!---row-->
      <div class="col-sm-6"><!-------col-sm-6 left-->
        <h1>
         <strong>We'd love to hear from you!</strong>
        </h1>
        <p class="edit">
             <br>
          Our staff is available to answer any of your questions, just
         <strong> give us a call at +91-8795062186, 8519019441 or drop us an email at</strong>
         <a style="text-decoration: none;" href="mailto:drshalabh16@gmail.com">drshalabh16@gmail.com</a>
         <a style="text-decoration: none;" href="mailto:poojasoni6511@gmail.com" > poojasoni6511@gmail.com</a>
        </p>
        <p class="office">
          <br>
          <strong>Office Hours :</strong>
          <br><br>
          <strong>Branch :-1</strong>
        </p>
        <p class="office2">
          Monday to Saturday :
          10 a.m to 4 p.m<br>
          Sunday :
          10 a.m to 1 p.m
        </p>
        <p class="office">

          <strong>Branch :-2</strong>
        </p>
         <p class="office2">
          Monday to Saturday :
          10 a.m to 2 p.m<br>
          4 p.m to 9 p.m
          <br>
          Sunday :
          10 a.m to 1 p.m
        </p>
        <h2 class="office3">
          <br>
          <strong>Schedule Your Appointment Today</strong>
        </h2>
        <p class="office2 text-justify">
          The first step towards a beautiful, healthy smile is to schedule an appointment.  Please contact our office by phone or complete the appointment request form on the right.  Our scheduling coordinator will contact you to confirm your appointment.
        </p>
        <img src="/../../assets/image/chacha&chachi.png" style="box-shadow: 0 0px 0px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) ;" class="w-100 a1">
         <img src="/../../assets/image/chacha2.png" style="box-shadow: 0 0px 0px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) ;" class="w-100 a2">
        <br>
        <br>
        <p class="bodi">
        <strong> I N D R A M Dental Implant and Laser Center Doctors.<br> Dr. Shalabh soni and Dr. Pooja soni</strong>
        </p>
      </div><!-----------------------end col-sm-6 left-->
      <div class="col-sm-6"><!---------col-sm-6-->
        <h2>
          <p>
            <strong>SCHEDULE AN APPOINTMENT</strong>
          </p>
        </h2>
         <form>
            <div class="form-group action=" onsubmit="return validation()">
             <label style="color: #747474; font-size: 16px; " ><strong>Name</strong> </label>
             <input type="text" name="" class="form-control" id="name">
             <span id="Name" style="color:red;"></span>
            </div>
            <div class="form-group">
             <label style="color: #747474; font-size: 16px; " ><strong>Mobile</strong> </label>
             <input type="text" name="" class="form-control">
            </div>
            <div class="form-group">
             <label style="color: #747474;  font-size: 16px;" ><strong>Email</strong> <br>email@example.com</label>
             <input type="text" name="" class="form-control">
            </div>
            <div class="form-group">
             <label style="color: #747474; font-size: 16px; " ><strong>City</strong> </label>
             <input type="text" name="" class="form-control">
            </div>
            <div class="form-group">
             <label style="color: #747474; font-size: 16px; " ><strong>State/Province</strong> </label>
             <input type="text" name="" class="form-control">
            </div>
            <div class="form-group">
             <label style="color: #747474; font-size: 16px; " ><strong>Zip/Postal</strong> </label>
             <input type="text" name="" class="form-control">
            </div>
            <div class="form-group">
             <label style="color: #747474; font-size: 16px; " ><strong>Address</strong></label>
             <textarea class="form-control"></textarea>
            </div>
            <div class="form-group">
             <label style="color: #747474; font-size: 16px; " ><strong>Best time to call?</strong> </label>
             <input type="text" name="" class="form-control">
            </div>
             <div class="form-group">
             <label style="color: #747474; font-size: 16px; " ><strong>Preferred day(s) of the week for an appointment?</strong> </label>
             <input type="text" name="" class="form-control">
            </div>
             <div class="form-group">
             <label style="color: #747474; font-size: 16px; " ><strong>Preferred time(s) for an appointment?</strong> </label>
             <input type="text" name="" class="form-control">
            </div>
            <div class="form-group">
              <label style=" color: #747474; font-size: 16px;"><strong>Please describe the nature of your appointment</strong> </label>
             <textarea class="form-control"></textarea>
            </div>
            <button style="box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%);" class="btn btn-default">Request Appointment! Send</button>
          </form>
          <br><br>
      <img src="/../../assets/image/ts.png" class="ts e1">
       <img src="/../../assets/image/ts.png" class="ts2 e2">

      </div><!-------------------end col-sm-6- right---->
    </div><!------------end row--->
  </div><!----------------end container---->
</div>
<!------------------------------------------------------------------------end container-fluid--->

  <hr>
